.epic-fixed-width {
    width: 400px;
    height: 220px;
    margin: 10px !important;
    float: left;
}

.epic-chart {
    float: left;
}

.epic-clear {
    clear: left;
}

.black-text {
    color: #000000;
}

#epic-filter-dropdown {
    float: right;
}

#epic-filter-dropdown a.aui-dd-trigger, #epic-filter-dropdown  div.aui-dd-parent {
    text-indent: 0px !important;
    width: 100px;
}

.filter-icon {
    background: url('../../../images/icons/ico_filters.png') no-repeat 2px 2px !important;
    padding-left: 2.2em !important;
    height: 25px !important;
}

.link-filter
{
    display: block;
    background-position: 97% 55%;
    background-color: transparent;
    color: #333;
    float: left;
    font-size: 1.1em;
    padding: 3px 7px 0px 0px;
}

.field-inline
{
    list-style-type: none;
}

.break-field-group
{
    padding: 0 0 5px 0px !important;
}

.field-inline li
{
    display: inline;
}

.field-inline li label
{
    float: none !important;
    display: inline !important;
    left: 0px !important;
    line-height: 1 !important;
    margin-right: 0px !important;
    padding-top: 0px !important;
    width: 130px !important;
    text-align: right !important;
    height: 17px !important;
}

#epic-done-filter {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}