<html>
<head>
    <title>$i18n.getText("epicstats.admin.label")</title>
    <meta name="decorator" content="atl.admin" />
    <meta name="application-base-url" content="$applicationProperties.getBaseUrl()">
    $webResourceManager.requireResource("es.testingserver.atlassian.epicstats:resources")
</head>
<body>
<form id="admin" class="aui">
    <div class="field-group">
        <label for="project">$i18n.getText("epicstats.admin.project.label")</label>
        <select id="project" name="project">
            <option value="Choose one">Choose one</option>
            #foreach( $project in $projects )
                <option value="$project.getKey()">$project.getName()</option>
            #end
        </select>
    </div>
    <div class="field-group">
        <label for="epicIssueType">$i18n.getText("epicstats.admin.epic.label")</label>
        <select id="epicIssueType" name="epicIssueType">
            <option value="Choose one">Choose one</option>
            #foreach( $issueType in $issueTypes )
                <option value="$issueType.getName()">$issueType.getName()</option>
            #end
        </select>
    </div>
    <div class="field-group">
        <label for="storyIssueType">$i18n.getText("epicstats.admin.story.label")</label>
        <select id="storyIssueType" name="storyIssueType">
            <option value="Choose one">Choose one</option>
            #foreach( $issueType in $issueTypes )
                <option value="$issueType.getName()">$issueType.getName()</option>
            #end
        </select>
    </div>
    <div class="field-group">
        <label for="storyPointsField">$i18n.getText("epicstats.admin.storypoints.label")</label>
        <select id="storyPointsField" name="storyPointsField">
            <option value="Choose one">Choose one</option>
            #foreach( $issueField in $issueFields )
                <option value="$issueField.getName()">$issueField.getName()</option>
            #end
        </select>
    </div>
    <div class="field-group">
        <label for="epicField">$i18n.getText("epicstats.admin.epicrelated.label")</label>
        <select id="epicField" name="epicField">
            <option value="Choose one">Choose one</option>
            #foreach( $issueField in $issueFields )
                <option value="$issueField.getName()">$issueField.getName()</option>
            #end
        </select>
    </div>
    <div class="field-group">
        <label for="doneStatus">$i18n.getText("epicstats.admin.donestatus.label")</label>
        <select id="doneStatus" name="doneStatus">
            <option value="Choose one">Choose one</option>
            #foreach( $issueStatus in $issueStatuses )
                <option value="$issueStatus.getName()">$issueStatus.getName()</option>
            #end
        </select>
    </div>
    <div class="field-group">
        <label for="roadmapLabel">$i18n.getText("epicstats.admin.roadmap.label")</label>
        <input type="text" id="roadmapLabel" name="roadmapLabel">
    </div>
    <div>
        <input type="submit" value="$i18n.getText("epicstats.admin.save.label")" class="button">
    </div>
</form>
</body>
</html>