<html>
<head>
    <title>$i18n.getText("epicstats.admin.label")</title>
    <meta name="decorator" content="atl.admin" />
    <meta name="application-base-url" content="$applicationProperties.getBaseUrl()">
    $webResourceManager.requireResource("es.testingserver.atlassian.epicstats:resources")
</head>
<body>
<form id="admin" class="aui">
    <div>
        <label for="name">$i18n.getText("epicstats.admin.name.label")</label>
        <input type="text" id="name" name="name" class="text">
    </div>
    <div>
        <label for="time">$i18n.getText("epicstats.admin.time.label")</label>
        <input type="text" id="time" name="time" class="text">
    </div>
    <div>
        <input type="submit" value="$i18n.getText("epicstats.admin.save.label")" class="button">
    </div>
</form>
</body>
</html>