<html>
<head>
    <title>Epic DashBoards</title>
    <meta name="decorator" content="atl.general">
    $webResourceManager.requireResource("es.testingserver.atlassian.epicstats:resourcesCss")
</head>
<body>
<div class="content-container">

    <div class="content-body">
        <header>
        <h1>
        #if($issues.size()==0)
            No Epics created.
        #else
            Epic Dashboard#if ( $filtered && "$!filterLabel" != "" )<strong>: $filterLabel</strong>#end
        #end
        </h1>
            <div class="module">
                <div class="mod-header"><h3 class="toggle-title">Totals</h3></div>
                <div class="mod-content">
                    <ul id="issuedetails" class="property-list two-cols">
                        <li class="item">
                            <div class="wrap">
                                <strong class="name">Total Story Points: </strong><span class="value">$totalStoryPoints</span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="wrap">
                                <strong class="name">Burned Story Points: </strong><span class="value">$burnedStoryPoints</span>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </header>
        <div class="module">
            <div class="mod-header"><h3 class="toggle-title">Details</h3></div>
        </div>
        #if ($issues.size() > 0)
            <div class="issues">
                #foreach( $issue in $issues )
                    <div class="content-body aui-panel epic-fixed-width">
                        <div>
                            <h2><a class="lozenge" href="/jira/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=cf%5B$cfEpic%5D+%3D+$issue.getKey()" title="$issue.getKey()"><span>$issue.getKey()</span></a>: $issue.getSummary()</h2>
                        </div>
                        <div class=".epic-chart">
                            #set($im = $issue.getImageMap())
                            #set($imagemapWithHtml = $issue.getImageMap())
                            #if ( "$!im" != "" )
                                $imagemapWithHtml
                                <img src='/jira/charts?filename=$issue.getChartName()' border='0' usemap="\#$issue.getImageMapName()" />
                            #end
                        </div>

                        <div class="clear">
                            <table class="aui">
                                <thead>
                                    <th>Total Story Points</th>
                                    <th>Burned Story Points</th>
                                    <th>Complete</th>
                                </thead>
                                <tbody>
                                    <td>
                                        $issue.getTotalStoryPoints()
                                    </td>
                                    <td>
                                        $issue.getBurnedStoryPoints()
                                    </td>
                                    <td>
                                        $issue.getPercentComplete() %
                                    </td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                #end
            </div>
        #end
    </div>
</div>
</body>
</html>